* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --body-padding: 10px;
  --sidebar-size: 300px;
  --main-padding: 128px;
  --container-gap: 10px;
  --background-grey: rgb(190, 190, 190);
  --background-shadow: rgba(0, 0, 0, 0.6);
}

.vanish {
  display: none !important;
}

body {
  padding: var(--body-padding);
  height: calc(100vh - var(--body-padding) * 2);
  display: flex;
}

aside {
  flex: 0 0 var(--sidebar-size);
  background-color: var(--background-grey);
  box-shadow: 0 0 16px -8px var(--background-shadow);
  border-radius: 16px;
}

main {
  padding: var(--main-padding);

  flex: 1;

  display: grid;
  grid-template: 1fr / 1fr;
  justify-content: center;
  align-content: center;
}

.title-container {
  --title-margin: 256px;
  --title-cont-height: calc(100vh - var(--title-margin));
  --title-cont-width: calc(100vw - var(--title-margin));
  --title-gap: 32px;
  position: absolute;
  height: var(--title-cont-height);
  width: var(--title-cont-width);

  top: calc(var(--title-margin) / 2);
  right: calc(var(--title-margin) / 2);

  background-color: white;
  border: 8px groove black;
  border-radius: 24px;

  padding: var(--title-gap);
  display: flex;
  flex-direction: column;
  gap: var(--title-gap);
}

.title {
  height: 100%;
  width: 100%;

  border: 4px solid black;
  border-radius: 8px;

  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 8px;

  color: black;
  background-color: rgb(255, 255, 255);

}

.title:hover {
  color: white;
  background-color: grey;
}

.grid-container {
  padding: var(--container-gap);
  height: 100%;
  aspect-ratio: 1;
  
  background-color: var(--background-grey);
  box-shadow: 0 0 24px -4px var(--background-shadow);
  border-radius: 16px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: var(--container-gap);
}

.grid-container div {
  padding: 10px;

  background-color: white;
  box-shadow: 0 0 24px -2px rgba(0, 94, 255, 0.2);
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.4));
}

svg path,
svg circle.out {
  fill: grey;
}

svg circle.in {
  fill: white;
}

div.end-game {
  --fig-height: 24vh;
  --fig-width: 72vw;

  position: absolute;
  height: var(--fig-height);
  width: var(--fig-width);

  top: calc((100vh - var(--fig-height)) / 2);
  right: calc((100vw - var(--fig-width)) / 2);

  z-index: 999;

  background-color: rgba(255, 255, 255, 0.6);
  border: 8px ridge green;
  border-radius: 24px;

  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.draw {
  letter-spacing: 16px;
  border-color: red;
}

.player-name {
  --input-height: 24vh;
  --input-width: 48vw;
  --input-gap: 24px;

  position: absolute;
  height: var(--input-height);
  width: var(--input-width);
  
  top: calc((100vh - var(--input-height)) / 2);
  right: calc((100vw - var(--input-width)) / 2);

  background-color: white;
  border: 4px solid black;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-name div {
  display: flex;
  align-items: center;
}

.player-name p {
  width: calc(var(--input-width) / 4);
  text-align: center;
  font-size: calc(var(--input-height) * 0.2);
  letter-spacing: calc(var(--input-width) * 0.0025);
}

.player-name input {
  margin-right: 24px;
  padding-left: 8px;

  flex: 1;
  height: 100%;
  font-size: calc(var(--input-height) * 0.2);
}

.player-name button {
  height: 200%;
  width: calc(var(--input-width) / 4);
}
